.wrapper {
  display: flex;
  align-items: stretch;
}

.navbar {
  background-color: darkslategrey;
}

.location-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 300px
}

.location-name {
  width: 200px
}

#navbar-title {
  color: white;
}

#sidebar {
  min-width: 15%;
  max-width: 15%;
  min-height: 100vh;
  background-color: darkslategrey;
  color: white;
}

#sidebar.active {
  margin-left: -15%;
}

.add-form {
  /* display: none */
}
